{% extends "base.html" %}

{% block title %}
{{ job.title }}
{% endblock %}

{% block body %}
<div class="jumbotron">
 <div class="container row">
    <div class="col-md-9 col-xs-12 caption">
        <h2>{{ job.title }}</h2>
    <p>
            {% if job.salary_min == 0 and job.salary_max ==0 %}
              <b>面议</b>
              {% else %}
              <b>
                {% if job.salary_min >= 1000 %}
                    {{ (job.salary_min//1000) }}K
                {% else %}
                    {{ job.salary_min }}
                {% endif %}
                  ~
                {% if job.salary_max >= 1000 %}
                    {% if (job.salary_max//1000) == (job.salary_min//1000) %}
                        {{ (job.salary_max//1000) + 1 }}K
                    {% else %}
                    {{ (job.salary_max//1000) }}K
                    {% endif %}
                {% else %}
                    {{ job.salary_max }}
                {% endif %}
              {% endif %}
              </b>
            <b>&nbsp;&nbsp;&nbsp;{{ job.work_address[0:2] }}&nbsp;&nbsp;&nbsp;经验{{ job.exp_req_list[job.exp_required] }}&nbsp;&nbsp;&nbsp;{{ job.edu_req_list[job.edu_required] }}
            &nbsp;&nbsp;&nbsp;
            {% if job.is_full_time ==True %}
                全职
            {% else %}
                兼职
            {% endif %}
            </b>
    </p>
    </div>
    <div class="col-md-3 col-xs-12">
        <p><a href="#" class="btn btn-primary" role="button">投递</a><span class="glyphicon glyphicon-hand-left"></span><b>快速投递</b></p>
        <p><a href="#" class="btn btn-default" role="button">关注</a> <strong>{{ job.follower_number }}</strong>关注 <strong>{{ job.resume_number }}</strong>投递</p>
    </div>
 </div>
</div>
<div class="row">
 <div class="col-md-9">
     <h3>职位描述</h3>
     {{ job.description }}
     <h3>职位要求</h3>
      <p>工作经验需要{{ job.exp_req_list[job.exp_required] }}</p>
      <p>学历要求：{{ job.edu_req_list[job.edu_required] }}</p>
      <p>工作类型:
            {% if job.is_full_time ==True %}
                全职
            {% else %}
                兼职
            {% endif %}</p>
        <hr>
     <p>{{ job.created_at | timesince }} 发布</p>
     <p><a href="#" class="btn btn-primary" role="button">投个简历</a><span class="glyphicon glyphicon-hand-left"></span><b>感兴趣？快速投递</b></p>
 </div>
  <div class="col-md-3">

      <div class="thumbnail">
          {% if job.user.company_info.logo == None %}
          <img src="{{ url_for('static', filename='img/default_logo.jpg') }}" alt="...">
          {% else %}
          <img src="/static/company_img/{{ job.user.company_info.logo }}" alt="...">
          {% endif %}

          <div class="caption">
              <h3><b class="company__name">{{ job.user.company_info.name }}</b></h3>
              <p>{{ job.user.company_info.industry }} 行业</p>
              <p class="company__slogan">{{ job.user.company_info.slogan }}</p>

                <!-- <a href="#" class="btn btn-default" role="button">关注</a> -->
              </p>
          </div>
      </div>

  </div>
</div>
{% endblock %}
