{% extends "base.html" %}
{% from "macros.html" import render_job_list,render_pagination %}
{% set active_page = 'job' %}

{% block title %}职位 - Jobplus{% endblock %}

{% block body %}
 <div class="row">
  <div class="col-md-1"></div>
     <div class="col-xs-12 col-md-10 main">
         <br>
         <h1>职位列表</h1>
       <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 SIZE=3>
    <div class="row">
    {% for job in pagination.items %}
        {{ render_job_list(job) }}
    {% endfor %}
    </div>
    <div class="nav-pagination">
    {{ render_pagination(pagination,'job.list') }}
    </div>
     </div>
{% endblock %}
