{% extends 'base.html' %}

{% block title %}管理 - Jobplus{% endblock %}

{% block body %}
<br>
<div class="container">
    <div class="row" id="side-navbar">
        <div class="col-md-3 col-sm-3">
            <img src="{{ current_user.company_info.get_img('logo') }}" class="img-thumbnail img-circle center-block company-admin">
            <h3 class="text-center">{{ current_user.username }}</h3>
            <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 SIZE=3>
            <ul id="accordion" class="accordion nav nav-pills nav-stacked">
                <li>
                    <div class="link"><i class="glyphicon glyphicon-th-list"></i>职位管理<i class="glyphicon glyphicon-triangle-bottom"></i></div>
                    <div class="submenu">
                        <span><a href="{{ url_for('job.job_admin') }}">所有职位<span class="badge">{{ current_user.company_info.get_job_status('all') | count }}</span></a></span>
                        <span><a href="{{ url_for('job.online_job') }}">在招职位<span class="badge">{{ current_user.company_info.get_job_status('online') | count }}</span></a></span>
                        <span><a href="{{ url_for('job.offline_job') }}">已下线职位<span class="badge">{{ current_user.company_info.get_job_status('offline') | count }}</span></a></span>
                    </div>
                </li>
                <li><div class="link"><i class="glyphicon glyphicon-file"></i>简历管理<i class="glyphicon glyphicon-triangle-bottom"></i></div>
                    <div class="submenu">
                        <span><a href="{{ url_for('job.todolist') }}">待处理<span class="badge">{{ current_user.get_resume_count('waiting') }}</span></a></span>
                        <span><a href="{{ url_for('job.rejectlist') }}">不合适<span class="badge">{{ current_user.get_resume_count('reject') }}</span></a></span>
                        <span><a href="{{ url_for('job.interviewlist') }}">邀请面试<span class="badge">{{ current_user.get_resume_count('accept') }}</span></a></span>
                    </div>
                </li>
                {% if active_page == 'jobs' %}
                <li><a class="link" href="{{ url_for('job.add_job') }}"><i class="glyphicon glyphicon glyphicon-plus"></i>增加职位</a>
                </li>
                {% else %}
                {% endif %}
            </ul>
            {% block operation %}{% endblock %}
        </div>
        <div class="col-md-9 col-sm-9">
            {% block admin %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block tail_js %}
{{ super() }}
<script type="text/javascript">
    $(function() {
	var Accordion = function(el, multiple) {
		this.el = el || {};
		this.multiple = multiple || false;

		// Variables privadas
		var links = this.el.find('.link');
		// Evento
		links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
	}

	Accordion.prototype.dropdown = function(e) {
		var $el = e.data.el;
			$this = $(this),
			$next = $this.next();

		$next.slideToggle();
		$this.parent().toggleClass('open');

		if (!e.data.multiple) {
			$el.find('.submenu').not($next).slideUp().parent().removeClass('open');
		};
	}	

	var accordion = new Accordion($('#accordion'), false);
});
</script>
{% endblock %}
