{% extends "base.html" %}
{% from "macros.html" import render_index_job, render_index_company %}
{% block title %}首页{% endblock %}
{% set active_page = 'index' %}

{% block body %}
<h2>最新职位</h2>
<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 SIZE=3>

<div class="row">
    {% for job in newest_jobs %} {{ render_index_job(job) }} {% endfor %}
    <div class="col-md-4"></div>
    <div class="col-md-4 check__more">
        <p>
            <a href="{{ url_for('job.list') }}" class="btn btn-primary" role="button">查看更多</a>
        </p>
    </div>
    <div class="col-md-4"></div>
</div>
<hr>
<h2>热门职位</h2>
<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 SIZE=3>
<div class="row">
    {% for job in popular_jobs %} {{ render_index_job(job) }} {% endfor %}
    <div class="col-md-4"></div>
    <div class="col-md-4 check__more">
        <p>
            <a href="{{ url_for('job.list') }}" class="btn btn-primary" role="button">查看更多</a>
        </p>
    </div>
    <div class="col-md-4"></div>
</div>
<hr>
<h2>最新企业</h2>
<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 SIZE=3>
<div class="row">
    {% for company_info in newest_companies_info %} {{ render_index_company(company_info) }} {% endfor %}
    <div class="col-md-4"></div>
    <div class="col-md-4 check__more">
        <p>
            <a href="{{ url_for('company.company_list') }}" class="btn btn-primary" role="button">查看更多</a>
        </p>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}