{% macro render_index_job(job) %}
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <!-- <img src="..." alt="..."> -->
        <div class="caption">
            <h4>{{ job.title | long_string_cutter(max_length=9) }}</h4>
            <p>{{ job.created_at | timesince }} 发布</p>
            <b>
            {% if job.salary_min == 0 and job.salary_max ==0 %}
                面议
            {% else %}
            
                {% if job.salary_min >= 1000 %} 
                    {{ (job.salary_min//1000) }}K 
                {% else %} 
                    {{ job.salary_min }} 
                {% endif %} ~ 
                    {% if job.salary_max >= 1000 %} 
                        {% if (job.salary_max//1000) == (job.salary_min//1000) %} 
                            {{ (job.salary_max//1000) + 1 }}K 
                        {% else %} 
                            {{ (job.salary_max//1000) }}K 
                        {% endif %} 
                    {% else %} 
                        {{ job.salary_max }} 
                    {% endif %} </b>
            {% endif %}
              ~
            {% if job.salary_max >= 1000 %}
                {% if (job.salary_max//1000) == (job.salary_min//1000) %}
                    {{ (job.salary_max//1000) + 1 }}K
                {% else %}
                {{ (job.salary_max//1000) }}K
                {% endif %}
            {% else %}
                {{ job.salary_max }}
            {% endif %}
          {% endif %}
          </b>
        <p>{{ job.exp_req_list[job.exp_required] }} / {{ job.edu_req_list[job.edu_required] }} /
        {% if job.is_full_time ==True %}
            全职
        {% else %}
            兼职
        {% endif %}
        </p>
        <p><b>{{ job.user.company_info.name | long_string_cutter }}</b></p>
        <p><a href="{{ job.url }}" class="btn btn-primary" role="button">查看</a>
            <!-- <a href="#" class="btn btn-default" role="button">关注</a> -->
        </p>
      </div>

    </div>
</div>
{% endmacro %} 

{% macro render_index_company(company_info) %}
<div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        {% if company_info.logo == None %}
        <img src="{{ url_for('static', filename='img/default_logo.jpg') }}" alt="..."> {% else %}
        <img width="100px" height="100px" src="/static/company_img/{{ company_info.logo }}" alt="..."> {% endif %}
        <div class="caption">
            <h3>
                <b class="company__name">{{ company_info.name | long_string_cutter(max_length=8) }}</b>
            </h3>
            <p>{{ company_info.industry }} 行业</p>
            <p class="company__slogan">{{ company_info.slogan }}</p>
            <p>
                <a href="{{ company_info.url }}" class="btn btn-primary" role="button">查看详情</a>
                <!-- <a href="#" class="btn btn-default" role="button">关注</a> -->
            </p>
        </div>
    </div>
</div>
{% endmacro %} 

{% macro render_form(form, url) %}
<form method="POST" action="{{ url }}" enctype="multipart/form-data">
    {{ form.csrf_token }} {% for field in form %} {% if field.type == 'CSRFTokenField' %} {{ '' }} {% elif field.type == 'SubmitField'
    %} {{ form.submit(class='btn btn-primary', type='submit') }} {% elif field.type == 'BooleanField' %}
    <div class="checkbox">
        <label>{{ field() }} {{ field.label.text }}</label>
    </div>
    {% elif field.type == 'FileField' %} {{ field.label }} {{ field(class='file form-control',accept="image/png,image/bmp,image/jpeg")
  }}
    {% elif field.type == 'DateField' %}
    <div class="form-group">
        {{ field.label }}
        <div class='input-group date' id='datetimepicker'>
            {{ field(class='form-control') }}
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>

    {% if field.errors %} {% for error in field.errors %}
    <span class="help-block">{{ error }}</span>
    {% endfor %} {% endif %} {% else %}
    <div class="form-group">
        {% if field.label.text == '验证码' %}
        <img src="{{ url_for('front.get_captcha') }}" onclick="this.src='{{ url_for('front.get_captcha') }}?'+ Math.random()"> {% endif %} {{ field.label }} {{ field(class='form-control') }} {% if field.errors %} {% for error in field.errors
        %}
        <span class="help-block">{{ error }}</span>
        {% endfor %} {% endif %}
    </div>
    {% endif %} {% endfor %}
</form>
{% endmacro %} 

{% macro render_job_list(job) %}
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <!-- <img src="..." alt="..."> -->
        <div class="caption">
            <h4>{{ job.title | long_string_cutter(max_length=8) }}</h4>
            <p>{{ job.created_at | timesince }} 发布</p>
            {% if job.salary_min == 0 and job.salary_max ==0 %}
            <b>面议</b>
            {% else %}
            <b>
                {% if job.salary_min >= 1000 %} {{ (job.salary_min//1000) }}K {% else %} {{ job.salary_min }} {% endif %} {% if job.salary_max
                >= 1000 %} {% if (job.salary_max//1000) == (job.salary_min//1000) %} {{ (job.salary_max//1000) + 1 }}K {%
                else %} {{ (job.salary_max//1000) }}K {% endif %} {% else %} {{ job.salary_max }} {% endif %} {% endif %}
            </b>
            <p>{{ job.exp_req_list[job.exp_required] }} / {{ job.edu_req_list[job.edu_required] }} / {% if job.is_full_time
                ==True %} 全职 {% else %} 兼职 {% endif %}
            </p>
            <p>
                <b>{{ job.user.company_info.name | long_string_cutter}}</b>
            </p>
            <p>
                <a href="{{ job.url }}" class="btn btn-primary" role="button">查看</a>
                <!-- <a href="#" class="btn btn-default" role="button">关注</a> -->
            </p>
        </div>
    </div>
</div>
{% endmacro %} 

{% macro render_pagination(pagination, endpoint, company_id=None) %}
<nav class="nav-pagination" aria-label="Page navigation">
  <ul class=pagination>
  <li{% if not pagination.has_prev %} class="disabled"{% endif %}><a href="{{url_for(endpoint, page=pagination.prev_num, company_id=company_id) if pagination.has_prev else '#'}}">&laquo;</a></li>
  {% for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
      <li><a href="{{ url_for(endpoint, page=page, company_id=company_id) }}">{{ page }}</a></li>
      {% else %}
      <li class="active"><a href="#">{{page}} <span class="sr-only">(current)</span></a></li>
      {% endif %}
    {% else %}
      <li><span class=ellipsis>…</span></li>
    {% endif %}
  {% endfor %}
    <li{% if not pagination.has_next %} class="disabled"{% endif %}><a href="{{url_for(endpoint, page=pagination.next_num, company_id=company_id) if pagination.has_next else '#'}}">&raquo;</a></li>
  </ul>
</nav>
{% endmacro %}

{% macro render_company_jobs_admin(pagination, page_type) %}
<div class="panel panel-default">
    <div class="panel-heading" ><h4 class="text-center" style="color:#b63b4d">{% if page_type=='all' %}所有职位{% elif page_type=='online' %}已上线职位{% elif page_type=='offline' %}已下线职位{% endif %}</h4></div>
    <table class="table table-hover table-striped ">
        <thead>
            <tr class='block-center'>
                <th class="text-center">ID</th>
                <th class="text-center">职位名称</th>
                <th class="text-center">发布时间</th>
                <th class="text-center">状态</th>
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for job in pagination.items %}
            <tr>
                <th scope="row" class="text-center">{{ loop.index + (pagination.page - 1)*pagination.per_page }}</th>
                <th class="text-center"><a href="{{ url_for('job.detail',job_id=job.id) }}">{{ job.title  }}</a></th>
                <th class="text-center">{{ job.updated_at |utc_to_cst }}</th>
                <th class="text-center">{{ '正在招聘' if job.status==job.STATUS_OPENED else '已停止招聘'}}</th>
                <th class="text-center">
                    <a role="button" class="btn btn-success btn-xs" href="{{ url_for('job.edit_job',job_id=job.id) }}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 编辑
                    </a>
                    {% if job.status==job.STATUS_OPENED %}
                    <a role="button" class="btn btn-danger btn-xs" href="{{ url_for('job.job_status', job_id=job.id) }}">
                      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> 下线
                    </a>
                    {% else %}
                    <a role="button" class="btn btn-info btn-xs" href="{{ url_for('job.job_status', job_id=job.id) }}">
                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 上线
                    </a>
                    {% endif %}
                    <a role="button" class="btn btn-primary btn-xs" href="{{ url_for('job.delete_job',job_id=job.id) }}">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 移除
                    </a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro render_company_resumes_admin(pagination, page_type) %}
<div class="panel panel-default">
    <div class="panel-heading" ><h4 class="text-center" style="color:#b63b4d">{% if page_type=='waiting' %}待处理简历{% elif page_type=='reject' %}已拒绝简历{% elif page_type=='accept' %}已邀请面试{% endif %}</h4></div>
    <table class="table table-hover table-striped ">
        <thead>
            <tr class='block-center'>
                <th class="text-center">ID</th>
                <th class="text-center">职位名称</th>
                <th class="text-center">求职者信息</th>
                <th class="text-center">简历</th>
                <th class="text-center">投递时间</th>
                {% if page_type == 'waiting' %}<th class="text-center">操作</th>{% endif %}
            </tr>
        </thead>
        <tbody>
            {% for item in pagination.items %}
            <tr>
                <th scope="row" class="text-center">{{ loop.index + (pagination.page - 1)*pagination.per_page }}</th>
                <th class="text-center"><a href="{{ url_for('job.detail',job_id=item.job_id) }}">{{ item.get_job(item.job_id).title  }}</a></th>
                <th class="text-center">{{ item.get_seeker(item.resume_id).name }}</th>
                <th class="text-center"><a href="#">查看简历</a></th>
                <th class="text-center">{{ item.updated_at |utc_to_cst }}</th>
                {% if page_type == 'waiting' %}<th class="text-center">
                    <a role="button" class="btn btn-success btn-xs" href="{{ url_for('job.reject', delivery=item.id)}}">
                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> 不合适
                    </a>
                    <a role="button" class="btn btn-danger btn-xs" href="{{ url_for('job.interview', delivery=item.id) }}">
                      <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> 邀请面试
                    </a>
                </th>{% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}