{% extends "admin/admin_base.html" %}
{% from "admin/admin_macros.html" import render_form %}

{% block head_css %}
{{ super() }}
<style type="text/css">
    .panel_summit_btn{
        text-align: center;
    }
</style>
{% endblock %}

{% block main_content %}
{% if action == 'EDIT_SEEKER' or action == 'EDIT_COMPANY' %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">用户信息</h3>
        </div>
        <div class="panel-body panel_admin_form">
    {{ render_form(form, url_for('admin.edit_user', action=action, user_id=user_id), render_action=action) }}
        </div>
    </div>
{% elif action == 'ADD_SEEKER' or action == 'ADD_COMPANY' %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">新建用户</h3>
        </div>
        <div class="panel-body panel_admin_form">
    {{ render_form(form, url_for('admin.add_user', action=action), render_action=action) }}
        </div>
    </div>
{% endif %}

{% endblock %}